.container {
  height: auto;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.text {
  color: var(--default-font-color);
  width: 65%;
  font-size: 0.8rem;
}

@media (min-width: 340px) {
  .text {
    width: auto;
}
} 

@media (min-width: 550px) {
  .text {
  font-size: 1rem;
}
}