.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--default-font-color);
  font-family: var(--default-font);
}

.show {
  display: none;
}

@media (min-width: 1600px) {
  .show {
    display: flex;
    place-self: flex-start;
  }
}