.card {
  background-color: rgb(237, 237, 237);
  height: 90%;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1rem;
  overflow-y: scroll;
  display: grid;
  margin: 0.5rem;
}

/* HEADER CONTAINER */
.header {
  grid-area: 1 / 1 / span 1 / span 20;
  height: auto;
  font-family: var(--header-font);
  padding-bottom: 1rem;
  border-bottom: var(--divider);
}

.identification {
  display: flex;
  flex-direction: column;
  color: var(--header-font-color);
}

.name {
  margin: 0;
  margin-right: 0.5rem;
  font-size: 2rem;
}

@media (min-width: 426px) {
  .name {
    font-size: 2.7rem;
  }
}

.title {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.4rem;
  padding: 0;
  color: var(--default-font-color);
}

@media (min-width: 426px) {
  .title {
    font-size: 1rem;
  }
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* NAV CONTAINER */
.nav {
  grid-area: 2 / 1 / span 19 / span 1;
  overflow: hidden;
  border-right: var(--divider);
  font-family: var(--header-font);
  color: var(--header-font-color);
  height: 100%;
  transition: width 0.5s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 1rem;
}

.nav .nav-open {
  animation: slide-in 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav .hamburger {
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.nav .nav-links {
  list-style: none;
  padding-left: 0;
  width: auto;
}

@keyframes slide-in {
  0% {
    transform: translateX(-40px);
  }
  90% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav-link {
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: var(--accent-color-5);
  color: var(--light-font-color);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  width: fit-content;
}

@media (min-width: 640px) {
  .nav-link {
    font-size: 1.5rem;
  }  
}

.nav-link:hover {
  background-color: var(--accent-color-6);
  transition: all 0.3s ease-in-out;
}

.show {
  display: block;
}

/* CONTENT CONTAINER */
.content {
  grid-area: 2 / 2 / span 19 / span 19;
  overflow-y: scroll;
  transition: width 0.5s ease-in-out;
  padding: 0 0.5rem;
  margin: 0 auto;
}

/* MEDIA QUERIES */

@media (min-width: 1600px) {
  .show {
    display: hidden;
  }
}

@media (min-width: 430px) {
  .card {
    margin: 1rem;
  }
}

@media (min-width: 1600px) {
  .card {
    margin: 1rem 1rem 1rem 0rem;
  }
}

@media (min-width: 550px) {
  .content {
    padding: 0 1rem;
  }
}

@media (min-width: 550px) {
  .header .identification {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}